<%-include("components/header")%>
<div class="col-md-10">
    <div class="row">
        <div class="col">
            <form id="chat">
                <%const formUsername = logado.firstname + logado.lastname%>
                <input class="mb-2 d-none" type="text" name="username" id="username" value=<%=formUsername%> placeholder="digite seu usuario" disabled>
                <div style="height: 15vh; border: 1px solid black;  overflow: auto;" class="messages mb-2" id="messages"></div>
                <input type="text" name="message" id="message" placeholder="digite sua mensagem">
                <input type="submit" class="btn btn-primary" value="enviar">
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/frontend/javascript/batepapo.js"></script>
<%- include("components/footer")%>